@import "../../../../app/styles/base/colors";
button {
  background-color: #034773 !important;
  color: #ffffff !important;
  padding: 0.8rem 4rem;
  cursor: pointer;
  border: none;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
