<div class="navbar-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5 ms-auto">
        <img src="../../../assets/images/logo.png" alt="" />
      </div>
      <div class="col-7 m-auto">
        <div class="content">
          <div>
            <ul>
              <li>
                <a routerLink="home" [routerLinkActive]="'activete'">{{
                  "MENU.HOME" | translate
                }}</a>
              </li>
              <li>
                <a routerLink="company" [routerLinkActive]="'activete'">{{
                  "MENU.OUR_COMPANY" | translate
                }}</a>
              </li>
              <li>
                <a routerLink="services" [routerLinkActive]="'activete'">{{
                  "MENU.SERVICES" | translate
                }}</a>
              </li>
              <li>
                <a routerLink="hospitals" [routerLinkActive]="'activete'">{{
                  "MENU.PORTFOLIO" | translate
                }}</a>
              </li>
              <li>
                <a routerLink="news" [routerLinkActive]="'activete'">{{
                  "MENU.NEWS" | translate
                }}</a>
              </li>
              <li>
                <a routerLink="careers" [routerLinkActive]="'activete'">{{
                  "MENU.CAREER" | translate
                }}</a>
              </li>
              <app-button>{{ "MENU.CONTACT_US" | translate }}</app-button>
              <li (click)="onChangeLang()">{{ "MENU.LANG" | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
