@import "../../../../app/styles//base/colors";
.footer-header {
  padding: 3.5rem 3rem;
  background-color: $mainColor;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .by-responsive {
    @media (max-width: 500px) {
      width: 80%;
      text-align: center;
      margin: auto;
    }
  }
  .ul-responsive {
    @media (max-width: 500px) {
      justify-content: center;
    }
  }
  .row-header {
    width: 90%;
    margin: auto;
  }
  &-img {
    width: 100%;
    @media (max-width: 992px) {
      text-align: center;
    }

    img {
      width: 20%;
      margin: 2.5rem 0;
      @media (max-width: 992px) {
        width: 50%;
        margin: auto;
      }
    }
  }
  .footer-icons {
    ul {
      li {
        margin-bottom: 1.5rem;
      }

      svg {
        margin-inline-end: 0.5rem;
      }
    }
  }
  .footer-list {
    position: relative;
    top: -33px;
    width: 100%;
    right: -23%;
    @media (max-width: 992px) {
      top: 0;
      width: 100%;
      right: 0;
    }
    li {
      margin: 1rem 0;
    }
    a {
      cursor: pointer;
      color: $white !important;
    }
  }
  .input {
    input {
      padding: 0.9rem 14rem 0.9rem 5px;
      font-weight: 700;
      width: 80%;
      border-radius: unset !important;
      position: relative;
    }
    @media (max-width: 400px) {
      padding: 0.9rem 2rem 0.9rem 5px;
    }
  }
}
.ps {
  position: relative;
  @media screen and (max-width: 992px) {
    left: 0;
    ::ng-deep {
      button {
        width: 100% !important;
        position: relative;
        top: unset;
        transform: translate(0, 0);
        right: unset;
        padding: 1rem 4rem;
      }
    }
  }
}
:host ::ng-deep {
  button {
    position: relative !important;
    padding: 1rem 4rem !important;
    z-index: 7;
    @media screen and (max-width: 1200px) {
      padding: 1.1rem 4rem !important;
    }
    @media screen and (max-width: 500px) {
      width: 100% !important;
    }
  }
}
