@if (hospital$ | async ; as hospital) {
<app-navgate route="/hospitals">hospitals</app-navgate>
<div class="tahalof-container">
  <div class="row">
    <div class="content">
      <h2>{{ hospital.main_title }}</h2>
    </div>
    @for (item of hospital.hospitals.results; track $index) {
    <div class="col-md-4 col-sm-12" routerLink="{{ link }}/{{ item.uuid }}">
      <app-shared-hospital
        [year]="item.built_year"
        [imgOne]="item.image"
        [imgTow]="item.hospital_logo"
      ></app-shared-hospital>
    </div>
    }
  </div>
</div>
} @else {
<app-loader></app-loader>
}
