@import "../../../styles/base/colors";
.careersdetails-content {
  h2 {
    font-size: 2.2rem !important;
  }
  p {
    font-size: 1rem !important;
    opacity: 0.8;
  }
}
.careers-form {
  background-color: $blue-medium-1-op;
  width: 85%;
  margin: auto;
  padding: 0.8rem 0;
  margin-top: 3rem;
}
.careers-form {
  padding: 4rem;
  .form-content {
    h2 {
      font-size: 1.5rem !important;
    }
  }
  label {
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 0 1rem 0;
  }
  input {
    width: 100%;
    padding: 1rem 0.5rem;
    outline: none !important;
    border: none;
    resize: horizontal;
    border: 1px solid $white;
  }
  .sbg {
    input:focus {
      border-bottom: 1px solid $blue-light;
    }
    .pose {
      position: absolute;
      left: 0;
      opacity: 0;
    }
    .posee {
      position: absolute;
      left: 95%;
      top: 13px;
    }
  }
  button {
    margin-inline-end: 2.5rem;
    padding: 0.6rem 1.5rem !important;
    background-color: $blue-medium-2 !important;
    color: $white !important;
    width: 25%;
  }
}
