<div class="tahalof-container">
  <div class="values-header">
    <div class="col-12">
      <h2>{{ aboutUs.main_title6 }}</h2>
    </div>
    <div class="row justify-content-center align-items-center">
      @for (values of aboutUs.values; track values) {
      <div class="col-md-5 col-sm-12">
        <div class="values-content">
          <h2>
            <span><img [src]="imgUrl + values.svg" alt="" /></span
            >{{ values.title }}
          </h2>
          <p>{{ values.description }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>
