@import "../../../app/styles/base/colors";
.navbar-header {
  background-color: $mainColor;
  padding: 38px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  .content {
    position: relative;
    right: 20px;
  }
  img {
    position: relative;
    right: -16%;
    width: 32%;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: end;
    li {
      cursor: pointer;
      color: white;
    }
    a {
      color: $white;
      opacity: 0.4;
      margin-right: 2.5rem;
    }
  }
  ::ng-deep .button-shared {
    margin-right: 2.5rem;
    padding: 0.6rem 1.5rem !important;
  }
}

.activete {
  color: $white !important;
  opacity: 1 !important;
}
