@if (hospital$ | async ; as hospital) {
<div class="tahalof-container">
  <div class="row">
    <div class="content">
      <h2>{{ hospital.main_title }}</h2>
    </div>
    @for (item of hospital.hospitals.results; track $index) {
    <div class="col-md-4 col-sm-12">
      <div #image class="content-img">
        <div class="date">
          <h4>{{ item.built_year }}</h4>
        </div>
        <img [src]="imgUrl + item.image" alt="" />
        <div class="logo">
          <img [src]="imgUrl + item.hospital_logo" alt="" />
        </div>
        <div class="overlay"></div>
      </div>
    </div>
    }
  </div>
</div>
}
