<div class="tahalof-container">
  <div class="section-one">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="vision-header">
          <div class="vision-content">
            <h2>{{ title }}</h2>
            <p>{{ decription }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="vision-header">
          <img [src]="imgUrl + imgeOne" alt="" />
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="vision-header">
          <img [src]="imgUrl + imgaetow" alt="" />
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="vision-header">
          <div class="vision-content">
            <h2>{{ titleTwo }}</h2>
            <p>{{ lastDiscr }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
