@if (services$ | async ; as services) {
<div class="tahalof-container mt-5 services-header" setRtl>
  <div class="row">
    <div class="col-12">
      <div class="services-content">
        <h2 class="mt-5">{{ services.main_title }}</h2>
        <p>{{ services.main_description }}</p>
      </div>
    </div>
  </div>
</div>
<div class="tahalof-container">
  <div class="row row-gap-1">
    @for (service of services.services.results; track service) {
    <div class="col-lg-4 col-sm-12 mt-sm-5">
      <services-box
        routerLink="{{ link }}/{{ service.uuid }}"
        [img]="service.main_image"
        [name]="service.name"
        [discription]="service.description"
      ></services-box>
    </div>
    }
  </div>
</div>
<app-services-help
  [title]="services.contact_title"
  [discription]="services.contact_description"
  [button]="services.contact_button"
></app-services-help>
}
