<div class="years-of-experience">
  <div class="tahalof-container">
    <div class="years-container">
      <div class="row">
        <div class="col-12">
          <div class="years-header">
            <p>{{ aboutUs.main_header2 }}</p>
            <h2>{{ aboutUs.main_title2 }}</h2>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="left-section">
            <h2>{{ aboutUs.experience_years2 }}</h2>
            <h4>{{ aboutUs.experience_title2 }}</h4>
            <p>{{ aboutUs.left_description2 }}</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="middile-section">
            <img [src]="imgUrl + aboutUs.image2" alt="" />
          </div>
        </div>
        <div class="col-lg-5 col-md-12 m-md-auto">
          <div class="right-section">
            <div class="right-section-img">
              <img [src]="imgUrl + aboutUs.right_svg2" alt="" />
            </div>
            <div class="right-section-content">
              <h4>{{ aboutUs.right_title2 }}</h4>
              <p>{{ aboutUs.right_description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
