@import "../../../app/styles/base/colors";
.box-header {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: transparent;
  .box-img {
    img {
      width: 100%;
    }
  }
  .box-content {
    padding: 0 0.7rem;
    padding: 1rem 0;
    max-width: 600px;

    h2 {
      font-size: 1.5rem !important;
      color: $blue-medium-1;
      font-weight: 400;
      margin-top: 0.6rem;
    }
    p {
      font-size: 1rem !important;
      margin: 1.5rem 0;
    }
    li {
      a {
        font-size: 1.1rem;
        border-bottom: 1px solid $blue-medium-1;
        color: $blue-medium-1;
      }
    }
  }
}
