@import "../../../styles/base/colors";
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $blue-medium-1;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5555;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 1s linear infinite;
  img {
    width: 100%;
  }
}

.inner-circle {
  width: 90%;
  height: 90%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: scale(1.5);
  }
}
