@import "../../../styles/base/colors";
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $blue-medium-1;
}

.loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.inner-circle {
  width: 90%;
  height: 90%;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: scale(1.5);
  }
}
