/* Tahalof Colors */
$blue-light: #87def2;
$mainColor: #06202e;
$blue-medium-1: #03668c;
$blue-medium-1-op: #e5ecf1;
$blue-medium-2: #034773;
$blue-medium-1-op: #e5ecf1;
$blue-dark: #002130;
$green-light: #99eba3;
$green: #45c4b0;
$green-medium: #d9fcba;
$gray: #c4c4c4;
$error: #fc3e30;
$white: #ffffff;
$black: #101a29;
$newsLatter: #c8c8c8;

.gray {
  color: $gray;
}

.white {
  color: $white;
}

.black {
  color: $black;
}
